@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Raleway');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: #927DFC;
}

.wrapper{
 width: 450px;
 height: 288px;
 padding: 30px;
 background: #fff;
 border-radius: 9px;
 transition: height 0.2s ease;
}

.wrapper .upload-box{
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    flex-direction: column;
    border: 2px dashed #afafaf;
}

.wrapper.active{

    height: 537px;
}
.wrapper.active .upload-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.wrapper.active .upload-box{
    border: none;
}

.wrapper.active .upload-box p{
    display: none;
}


.upload-box p{
    font-size: 1.06rem;
    margin-top: 20px;
}

.wrapper .content{
    opacity: 0;
    pointer-events: none;
    margin-top: 28px;
}

.wrapper.active .content{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

.content .row{
    display: flex;
    justify-content: space-between;
}

.content .row .column{

    width: calc(100%/2 - 15px);
}

.row .column label{
    font-size: 1.06rem;
}

.sizes .column input{
    width: 100%;
    height: 49px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0 15px;
    margin-top: 7px;
    font-size: 1.0rem;
}

.sizes .column input:focus{
    padding: 0 14px;
    border: 2px solid #927DFC;
}

.content .checkboxes{
    margin-top: 20px;
}

.checkboxes .column input{
    width: 17px;
    height: 17px;
    accent-color: #927DFC;
    margin-right: 9px;
}

.content .download-btn{
    width: 100%;
    padding: 15px 0;
    margin: 30px 0 10px;
    color: #fff;
    background-color: #927DFC;
    border: none;
    cursor: pointer;
    font-size: 1.06rem;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
}